<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/view.css">
    <title>TimeSeries</title>
</head>
<body>
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    <tr>
      <td>1123</td>
      <td>Name</td>
      <td>Description</td>
      <td>
        <input type="submit" id="viewButton" value="View">
        <input type="submit" id="editButton" value="Edit">
        <input type="submit" id="deleteButton" value="Delete">
      </td>
    </tr>
  </table>
</body>
</html>