* {
    font-family: "Segoe UI", sans-serif;
}

legend {
    font-style: italic;
}

label {
    font-weight: bold;
    line-height: 30px;
}

input, textarea {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 100%;
    padding: 0.5em 0.6em;
    margin-bottom: 1em;
}

#createButton {
    font-weight: bold;
    color: white;
    border: 1px solid #7CFC00;
    box-shadow: inset 0 1px 3px #50C878;
    background: green;
    margin-top: 2em;
}

#createButton:hover {
    cursor: pointer;
    background: #7CFC00;
}